.detail-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 100px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
  }
  
  .detail-container img {
    max-width: 200px;
    /* max-height: 300px; */
    margin: 0 auto;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .detail-info {
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .detail-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .price {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .add-to-cart {
    width: 200px !important;
    margin-top: 15px;
    background: #0077cc;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }


  .add-more{
    margin-top: 15px;
    background: #0077cc;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  .add-more:hover{
    background-color: #005fa3;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }
  
  /* Responsive */
  @media (min-width: 768px) {
    .detail-container {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .detail-container img {
      max-width: 300px;
    }
  
    .detail-info {
      flex: 1;
      margin-left: 30px;
    }
  }
  